<h4>Edit a Landmark</h4>

<form method='post' action="/landmarks/<%=@landmark.id%>">

<input type='text' id='name' name='landmark[name]' value= <%=@landmark.name%>>

<input type='text' id='year_completed' name='landmark[year_completed]' value= <%=@landmark.year_completed %>>

<input type='submit' value ='Edit Landmark'>
</form>